# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore virtual environment
.venv/

# Ignore IDE and system files
.idea/
.DS_Store

# Ignore everything in config except important.conf
config/*
!config/important.conf

